* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #ffd7ba;
  overflow-x: hidden;
}
.contaner {
  width: 100%;
  height: 50rem;
  margin-top: 2rem;
}
.row {
  width: 100%;
  height: 19rem;
  margin-top: 8rem;
  display: flex;

  justify-content: space-around;
}
.row1 {
  width: 100%;
  height: 19rem;
  margin-top: 5rem;
  display: flex;

  justify-content: space-around;
}
.c1 {
  position: relative;
  border-radius: 24px;
  margin-top: 1rem;
  width: 20%;
  height: 90%;
  background-color: #fff;
}
.c2 {
  border-radius: 24px;
  margin-top: 1rem;
  width: 20%;
  height: 90%;
  background-color: #fff;
}
.c3 {
  border-radius: 24px;
  margin-top: 1rem;
  width: 20%;
  height: 90%;
  background-color: #fff;
}
.c4 {
  border-radius: 24px;
  margin-top: 1rem;
  width: 20%;
  height: 90%;
  background-color: #fff;
}
.imager11 {
  position: relative;
  width: 83%;
  height: 100%;
  bottom: 8rem;
  left: 1.5rem;
  background-image: url(image/food4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imager12 {
  position: relative;
  width: 88%;
  height: 80%;
  bottom: 5.4rem;
  left: 1rem;
  background-image: url(image/food5.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imager13 {
  position: relative;
  width: 88%;
  height: 84%;
  bottom: 5.6rem;
  left: 1.34rem;
  background-image: url(image/food6.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imager14 {
  position: relative;
  width: 80%;
  height: 100%;
  bottom: 9rem;
  left: 2rem;
  background-image: url(image/food1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imager21 {
  position: relative;
  width: 90%;
  height: 100%;
  bottom: 7rem;
  left: 1rem;
  background-image: url(image/food2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imager22 {
  position: relative;
  width: 90%;
  height: 100%;
  bottom: 7rem;
  left: 1rem;
  background-image: url(image/food3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imager23 {
  position: relative;
  width: 83%;
  height: 106%;
  bottom: 9rem;
  left: 1.5rem;
  background-image: url(image/food4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* star ratting */

.star-rating:before {
  content: "★";
  color: #ff8b03;
  font-size: 12px;
  position: relative; /* Adjust the font size to set the height and width of the stars */
  left: 1rem;
}
.star-rating[data-rating="1"]:before {
  content: "★★★★★";
}

.star-rating[data-rating="2"]:before {
  content: "★★★★☆";
}

.star-rating[data-rating="3"]:before {
  content: "★★★☆☆";
}

.star-rating[data-rating="4"]:before {
  content: "★★☆☆☆";
}

.star-rating[data-rating="5"]:before {
  content: "★☆☆☆☆";
}

/* end star ratting */
.value {
  position: relative;
  bottom: 8rem;
}
.name {
  text-align: center;
  font-weight: bolder;
}
.star-rating {
  width: 0.4rem;
  height: 0.4rem;
}
.foodcont {
  position: relative;
  left: 1rem;
  top: 1.2rem;
  font-weight: lighter;
}
.price {
  position: relative;
  left: 1rem;
  top: 1.9rem;
  font-size: larger;
}
p {
  color: #000;
  font-family: serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.00563rem;
}
.buy {
  width: 2.4375rem;
  height: 2.0625rem;
  background-color: #f97b21;
  left: 14rem;
  top: -8rem;
  position: relative;
  background-image: url(image/bag.png);
  background-size: 60% 70%;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-position: 8px 5px;
}
.heart {
  width: 2.2375rem;
  height: 1.90625rem;
  left: 14.2rem;
  top: -18.66rem;
  position: relative;
  background-image: url(image/heart.png);
  background-size: 60% 70%;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-position: 8px 5px;
}
